<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="assets/scripts/jquery.min.js"></script>
<script src="assets/scripts/angular.min.js"></script>
<title>Mock Request Table</title>
<script>
app=angular.module("VOVApp", []);
</script>
<script>
app
.constant("RequestsLocation", "server/json/testTable/request.json")
.controller("VOVAppCtrl", function($scope){
	$http("RequestsLocation").then(function(response){$scope.requests= response},function(){$scope.requests= "";})
	$scope.modules=[
						{label:"After Call Survey", show:true},
						{label:"ANI Block", show:true},
						{label:"IMT", show:true},
						{label:"Messaging", show:true},
						{label:"Outbound", show:true},
						{label:"Vocab", show:true}
				  ];
	$scope.moduleFilter=function(moduleApp){
		return (module.show===true?true:false);
	};
// 	$scope.levelFilter=function(){
// 		return ()
// 	};

})
</script>
</head>
<body>
<div>
	<label ng-repeat="entry in modules">
		{{entry.label}	<input type="checkbox" ng-model="entry.show">
	</label>
</div>
<!--  | filter:{module:moduleFilter, level:levelFilter, status:status_type} -->
	<div id=tableOfRequests>
		<ul class="row"  ng-repeat="request in requests">
			<li>{{request.module}}</li>
			<li>{{request.level}}</li>
			<li>{{request.access}}</li>
			<li>{{request.status}}</li>
		</ul>
	</div>
</body>
</html>