<div class="row">
  <div class="col-md-3">
      <div class="subnav">
      <ul>
      <li>ACS FE</li>
      <li>CTI Admin</li>
      <li>CTI Dashboard</li>
      </ul>
      </div>
  </div><!-- /.col-md-3 -->
  <div class="col-md-9" ng-controller="AccessCtrl">
    <div class="subnav">
      <ul class="list-container-one">
        <li>
          <p class="super-note">Module</p>
          <select id="mod-access" class="module-item-name"
          ng-model="access.currentModule"
          ng-options="module.name for module in access.modules">
        </select>
      </li>
      <li class="list-container-item-one">
        <p class="super-note">Level</p>
        <select id="level-access"  class="module-item-name"
        ng-model="access.currentLevel"
        ng-options="level for level in access.currentModule.levels">

      </select>
    </li>
    <li>
      <p class="super-note">Reason</p>
      <textarea ng-model="access.currentReason"></textarea>
    </li>
  </ul>
  <a role="button" class="btn-submit">Request</a>
</div>
</div><!-- /.col-md-3 -->
