
<div id="navbar" class="collapse navbar-collapse">
	<ul class="nav navbar-nav">
		<!-- VZ Home Dropdown menu for consuming apps -->
		<li
			ng-class="{'dropdown hidden-xs hidden-sm vz-home-dropdown':{{$first}}}"
			ng-repeat="tab in data"><a href="{{tab.link}}"
			class="vz-home-icon-link"> <i ng-if="putSubheadings(tab)"
				class="fa fa-lg fa-home"></i>{{tab.label}}
		</a>
			<ul ng-if="putSubheadings(tab)" class="dropdown-menu fullwidth">
				<li class="dropdown-content withdesc">
					<div class="row-eq-height">
						<div class="col-sm-3">
							<ul>
								<li><a href="#">Active Call Survey</a></li>
								<li><a href="#">DB ANI</a></li>
								<li><a href="#">Vocab</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<ul>
								<li><a href="#">CTI Dialer</a></li>
								<li><a href="#">Mgmt Tool (IMT)</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<ul>
								<li><a href="#">CTI Admin</a></li>
								<li><a href="#">Messaging</a></li>
							</ul>
						</div>
						<div class="col-sm-3">
							<ul>
								<li><a href="#">CTI Dashboard</a></li>
								<li><a href="#">Outbound</a></li>
							</ul>
						</div>
					</div>
				</li>
			</ul></li>
	</ul>
</div>
