 <!-- search form starts -->
            <div id="vz-search-form" ng-controller="searchBarCtrl">
              <div class="search_inner">
                <!-- search options starts -->
                <div class="search_options">
                  <div role="application" class="form-item">
                    <span id="vz-search-mobile-close" class="vz-search-mobile-close visible-xs"></span>
                    <div class="form-item">
                      <div id ="edit-search-content"  class="form-text"> 
                        <!-- search results starts -->
                        <span id="span_arrow_top" class="span_arrow" style="display: none;"></span>
                        <div class="searchOverlayTop" id="searchOverlayTop1">
                          <!-- search results for people starts -->
                          <div class="results">
                            <span class="open" id="autocomplete_0" ng-show="search.action.elements | filter:searchFilterFunction">{{search.action.name}}</span>
                            <div class="Suggested" style="display:block">
                              <div class="r url" ng-repeat="result in search.action.elements | filter:searchFilterFunction">
                                <div>
                                  <a href="javascript:void(0)" onclick=
                                  "resultClick(result)">
                                  {{result.name}}</a>
                                </div>
                              </div>
                            </div><span class="open" id="autocomplete_1" ng-show="search.info.elements | filter:searchFilterFunction">{{search.info.name}}</span>
                            <div class="Suggested" style="display:block">
                              <div class="r url" ng-repeat="result in search.info.elements | filter:searchFilterFunction">
                                <div>
                                  <a href="javascript:void(0)" onclick=
                                  "resultClick(result)">
                                  {{result.name}}</a>
                                </div>
                              </div>
                            </div><span class="open" id="autocomplete_2">Additional Search Keywords</span>
                            <div class="Search" style="display:block">
                              <div class="r url">
                                <div>
                                  <a href="javascript:void(0)" onclick=
                                  "autoCompleletTrack('time entry');"><strong>time</strong> entry</a>
                                </div>
                              </div>
                              <div class="r url">
                                <div>
                                  <a href="javascript:void(0)" onclick=
                                  "autoCompleletTrack('trs time entry');">trs <strong>time</strong>
                                  entry</a>
                                </div>
                              </div>
                              <div class="r url">
                                <div>
                                  <a href="javascript:void(0)" onclick=
                                  "autoCompleletTrack('timeentry');"><strong>time</strong>entry</a>
                                </div>
                              </div>
                              <div class="r url">
                                <div>
                                  <a href="javascript:void(0)" onclick=
                                  "autoCompleletTrack('flex time');">flex <strong>time</strong></a>
                                </div>
                              </div>
                              <div class="r url">
                                <div>
                                  <a href="javascript:void(0)" onclick=
                                  "autoCompleletTrack('tr time entry');">tr <strong>time</strong>
                                  entry</a>
                                </div>
                              </div>
                            </div>
                            <div class="view-all">
                              <a href="javascript:void(0)" onclick="autoCompleletTrack('time');">See all
                              search results &gt;</a>
                            </div><span class="open" type="Search">People</span>
                              <div class="people">
                                <div class="r">
                                  <div> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAWlBMVEXHyMrJyszMzc/P0NLLzM6wsrSsrrC2uLqfoaOjpaebnaC6vL6ztbemqKrR0tSWmJqpq63W19jT1NXOz9GHiYzU1deQkpWMjpGYmpyTlZjZ2tuDhYepq67Cw8WqqozrAAABu0lEQVRIx8WUSYKDIBBFFYOgDEYckNjc/5otELvCkGnVb5XFf/4qNFT/Qf3Ih/FL4APFhy01+77PPUdBehOv6H6iGUKglOPI6v0BjEAp5RGq9RxBpkMpGv7xaOrnGH2ZplBSzrM5pWsaMLJ8I3TKisCIBJ9HOofIYIAA+YatOVdZMO55iQsCVeo0ogKXl8IUWJTvgAoosEMJskBFXKBWUxJmqxRUQIGUTA9bAS3cUKECjsgVYL31BTRd/FDnQcFE3PQlTDeGLUDwEynFhp4WGMQhKD/TXbgEYam3orCR0c0ES5wrLGNHuxxK5RhmyoXqEHLI7akwViKHjC+EG7umtLfbK6H5SbGZAKfkDNwmqCMPpxS/BydUSZ7dC4IQv2kvjDimcUL2ps8lfEWUDwXRtwRLuIrD4I/4Dcbka4WZvCE4+aNfQv5xIqgIQ8l1ICdCM5dP/3FQ4Qy+rhtnHnH8DHkoSCsUGowxg8CMt5s5IEceCkA4jYkOMX2l5IubrO62lN5CPr1ba077Argu38YWd/QJLcvyjPx0rxCYVYDlV/EecNj1U3h4fvs5voPgL/AC/wLrhG9wAvsGW/0CxKlP74i8jegAAAAASUVORK5CYII=" />
                                    <h4>User <strong>name</strong></h4>
                                  </div>
                                  <div class="title-location title-job">tech mgr-system dev</div>
                                  <div class="title-location title-lob">wireline enterprise solutions</div>
                                  <div class="title-location title-phone"><a class="phone-url" >999-999-9999</a></div>
                                  <div class="title-location title-email"><a href="mailto:username@email.com">username@email.com</a></div>
                                </div>
                                <div class="r">
                                  <div> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAWlBMVEXHyMrJyszMzc/P0NLLzM6wsrSsrrC2uLqfoaOjpaebnaC6vL6ztbemqKrR0tSWmJqpq63W19jT1NXOz9GHiYzU1deQkpWMjpGYmpyTlZjZ2tuDhYepq67Cw8WqqozrAAABu0lEQVRIx8WUSYKDIBBFFYOgDEYckNjc/5otELvCkGnVb5XFf/4qNFT/Qf3Ih/FL4APFhy01+77PPUdBehOv6H6iGUKglOPI6v0BjEAp5RGq9RxBpkMpGv7xaOrnGH2ZplBSzrM5pWsaMLJ8I3TKisCIBJ9HOofIYIAA+YatOVdZMO55iQsCVeo0ogKXl8IUWJTvgAoosEMJskBFXKBWUxJmqxRUQIGUTA9bAS3cUKECjsgVYL31BTRd/FDnQcFE3PQlTDeGLUDwEynFhp4WGMQhKD/TXbgEYam3orCR0c0ES5wrLGNHuxxK5RhmyoXqEHLI7akwViKHjC+EG7umtLfbK6H5SbGZAKfkDNwmqCMPpxS/BydUSZ7dC4IQv2kvjDimcUL2ps8lfEWUDwXRtwRLuIrD4I/4Dcbka4WZvCE4+aNfQv5xIqgIQ8l1ICdCM5dP/3FQ4Qy+rhtnHnH8DHkoSCsUGowxg8CMt5s5IEceCkA4jYkOMX2l5IubrO62lN5CPr1ba077Argu38YWd/QJLcvyjPx0rxCYVYDlV/EecNj1U3h4fvs5voPgL/AC/wLrhG9wAvsGW/0CxKlP74i8jegAAAAASUVORK5CYII=" />
                                    <h4>User <strong>name</strong></h4>
                                  </div>
                                  <div class="title-location title-job">tech mgr-system dev</div>
                                  <div class="title-location title-lob">wireline enterprise solutions</div>
                                  <div class="title-location title-phone"><a class="phone-url" >999-999-9999</a></div>
                                  <div class="title-location title-email"><a href="mailto:username@email.com">username@email.com</a></div>
                                </div>
                                <div class="r">
                                  <div> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAWlBMVEXHyMrJyszMzc/P0NLLzM6wsrSsrrC2uLqfoaOjpaebnaC6vL6ztbemqKrR0tSWmJqpq63W19jT1NXOz9GHiYzU1deQkpWMjpGYmpyTlZjZ2tuDhYepq67Cw8WqqozrAAABu0lEQVRIx8WUSYKDIBBFFYOgDEYckNjc/5otELvCkGnVb5XFf/4qNFT/Qf3Ih/FL4APFhy01+77PPUdBehOv6H6iGUKglOPI6v0BjEAp5RGq9RxBpkMpGv7xaOrnGH2ZplBSzrM5pWsaMLJ8I3TKisCIBJ9HOofIYIAA+YatOVdZMO55iQsCVeo0ogKXl8IUWJTvgAoosEMJskBFXKBWUxJmqxRUQIGUTA9bAS3cUKECjsgVYL31BTRd/FDnQcFE3PQlTDeGLUDwEynFhp4WGMQhKD/TXbgEYam3orCR0c0ES5wrLGNHuxxK5RhmyoXqEHLI7akwViKHjC+EG7umtLfbK6H5SbGZAKfkDNwmqCMPpxS/BydUSZ7dC4IQv2kvjDimcUL2ps8lfEWUDwXRtwRLuIrD4I/4Dcbka4WZvCE4+aNfQv5xIqgIQ8l1ICdCM5dP/3FQ4Qy+rhtnHnH8DHkoSCsUGowxg8CMt5s5IEceCkA4jYkOMX2l5IubrO62lN5CPr1ba077Argu38YWd/QJLcvyjPx0rxCYVYDlV/EecNj1U3h4fvs5voPgL/AC/wLrhG9wAvsGW/0CxKlP74i8jegAAAAASUVORK5CYII=" />
                                    <h4>User <strong>name</strong></h4>
                                  </div>
                                  <div class="title-location title-job">tech mgr-system dev</div>
                                  <div class="title-location title-lob">wireline enterprise solutions</div>
                                  <div class="title-location title-phone"><a class="phone-url" >999-999-9999</a></div>
                                  <div class="title-location title-email"><a href="mailto:username@email.com">username@email.com</a></div>
                                </div>
                                <div class="r">
                                  <div> <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAWlBMVEXHyMrJyszMzc/P0NLLzM6wsrSsrrC2uLqfoaOjpaebnaC6vL6ztbemqKrR0tSWmJqpq63W19jT1NXOz9GHiYzU1deQkpWMjpGYmpyTlZjZ2tuDhYepq67Cw8WqqozrAAABu0lEQVRIx8WUSYKDIBBFFYOgDEYckNjc/5otELvCkGnVb5XFf/4qNFT/Qf3Ih/FL4APFhy01+77PPUdBehOv6H6iGUKglOPI6v0BjEAp5RGq9RxBpkMpGv7xaOrnGH2ZplBSzrM5pWsaMLJ8I3TKisCIBJ9HOofIYIAA+YatOVdZMO55iQsCVeo0ogKXl8IUWJTvgAoosEMJskBFXKBWUxJmqxRUQIGUTA9bAS3cUKECjsgVYL31BTRd/FDnQcFE3PQlTDeGLUDwEynFhp4WGMQhKD/TXbgEYam3orCR0c0ES5wrLGNHuxxK5RhmyoXqEHLI7akwViKHjC+EG7umtLfbK6H5SbGZAKfkDNwmqCMPpxS/BydUSZ7dC4IQv2kvjDimcUL2ps8lfEWUDwXRtwRLuIrD4I/4Dcbka4WZvCE4+aNfQv5xIqgIQ8l1ICdCM5dP/3FQ4Qy+rhtnHnH8DHkoSCsUGowxg8CMt5s5IEceCkA4jYkOMX2l5IubrO62lN5CPr1ba077Argu38YWd/QJLcvyjPx0rxCYVYDlV/EecNj1U3h4fvs5voPgL/AC/wLrhG9wAvsGW/0CxKlP74i8jegAAAAASUVORK5CYII=" />
                                    <h4>User <strong>name</strong></h4>
                                  </div>
                                  <div class="title-location title-job">tech mgr-system dev</div>
                                  <div class="title-location title-lob">wireline enterprise solutions</div>
                                  <div class="title-location title-phone"><a class="phone-url" >999-999-9999</a></div>
                                  <div class="title-location title-email"><a href="mailto:username@email.com">username@email.com</a></div>
                                </div>
                              </div>
                              <div class="view-all"><a href="javascript:;">See All People Results ></a></div>
                          </div> <!-- search results for people ends --> 
                        </div> <!-- search results ends -->
                        <label class="sr-only" for="search_content">Search Content</label>
                        <input type="text" class="formInput"   placeholder="Search" name="search_content" id="search_content" tabindex="4" ng-model="searchInput">
                        <a id="hrefHeaderSearch" title="Search"  href="javascript:;" class="form-submit"></a>
                      </div>
                    </div>
                    <div class="org_chart"><a tabindex="8" href="javascript:;" class="adv-search-link plus_icon" title="Advanced edirectory Search"><span>Advanced Search</span></a></div></div>

                </div> <!-- search options ends --> 
              </div>
            </div> <!-- search form ends --> 